<div class="container">
  <h1>This is a Private Page</h1>

  <div [hidden]="!error" class="alert alert-danger" role="alert">
      <strong>Error {{code}}!</strong> {{content}}
  </div>

  <div [hidden]="error">
      <p>{{content}}</p>

      <dl class="row">
        <dt class="col-sm-3">QS Ticket</dt>
        <dd class="col-sm-9">: {{QSTicket}}</dd>

        <dt class="col-sm-3">url</dt>
        <dd class="col-sm-9">: {{url}}</dd>
    </dl>

      <iframe [src]="url | safe" style='border:none;width:100%;height:600px;'></iframe>
  </div>
</div>